{% extends 'base.html' %}

{% block title %}FUNNY!{% endblock %}


{% block content %}


<div id ="madlibresult">
    This is a story about {{ person}}. <br> There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. People were drawn to it. It was like a(n) {{ adjective }} {{noun1}}. Finally, somebody braved approach it, tentatively reaching their {{ rightleft }} {{bodypart}} out. When {{ person }} went to pick it up, it {{ adverb }} burst into flames. Then {{ person1 }} {{ pastverb }}. The end. 
</div>

{% endblock %}


